@inherits WalletFormComponent

<div class="modal-window">
    <EditForm Model="Model" OnValidSubmit="InvokeModelFunctionAsync">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <p class="validation-message">
            @ErrorMessage
        </p>
        <div class="form-group">
            <label for="name">@Resource.Name</label>
            <InputText @oninput="ClearError" @bind-Value="Model.Name" 
                       @attributes="UniqueName.AddClassesForName(ErrorMessage)" id="name"/>
        </div>
        <div class="form-group">
            <label for="currency">@Resource.Currency</label>
            <InputSelect @bind-Value="Model.Currency" id="currency" class="form-control">
                @foreach (var currency in currencies)
                {
                    <option value="@currency">@currency</option>
                }
            </InputSelect>
        </div>
        <div class="form-group">
            <label for="balance">@Resource.Balance</label>
            <InputNumber @bind-Value="Model.Balance" id="balance" class="form-control" />
        </div>
        <div class="one-row-btns">
            <button type="submit" class="default-btn create">@SubmitText</button>
            <button @onclick="Cancel" class="default-btn cancel">@Resource.Cancel</button>
        </div>
    </EditForm>
</div>